body {
	background-image: url("../imgs/background.jpg");
}

.center {
	color: white;
	width: 60%;
	height: 50%;
	margin: auto auto;
	background-color: black;
	opacity: 0.85;
	padding: 30px;
	border: 5px solid grey;
}

input, select{
	color: black;
}